<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <span class="route-header">
            <a class="uk-text-primary" ui-sref="configs" data-translate="admin.menu.logs"></a>&nbsp;<i
                class="uk-icon-arrow-circle-right"></i>
            <a class="uk-text-primary" ui-sref="configs" data-translate="admin.menu.configs"></a>&nbsp;<i
                class="uk-icon-arrow-circle-right"></i>
            <span>{{config.configKey}}</span>
        </span>
        <br/>
        <div class="uk-margin-small-top">
            <button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Data_Package_Create" ui-sref="configs-edit({configId: config.id})" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                    class="uk-text-bold" data-translate="global.button.edit"></span></button>
            <button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Data_Package_Create" ui-sref="configs-create" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                    class="uk-text-bold" data-translate="global.button.create"></span></button>
            <a has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Data_Package_Delete" ui-sref="configs" class="md-btn md-btn-small"><span class="uk-text-bold"
                                                                                                                                               data-translate="global.button.back"></span></a>
        </div>
    </div>
    <div id="page_content_inner">
        <jhi-alert></jhi-alert>
        <modal-alert></modal-alert>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-1">
                        <!-- Line 1 -->
                        <div class="uk-grid">
                            <div class="uk-width-small-2-3 uk-width-medium-1-4 parsley-row">
                                <label class="label-bold" for="action" data-translate="config.column.key"></label> *
                                <input name="action" id="action"
                                       class="md-input ng-isolate-scope md-input-processed"
                                       type="text" ng-model="config.configKey"
                                       ng-required="true"
                                       data-parsley-required-message="{{messages.required}}"
                                       data-parsley-maxlength="255"
                                       data-parsley-maxlength-message="{{messages.maxLength255}}"
                                       readonly
                                       input-long-text/>
                            </div>

                            <div class="uk-width-small-2-3 uk-width-medium-1-4 parsley-row">
                                <label class="label-bold custom-label" for="type" data-translate="config.column.value"></label> *
                                <input name="type" id="type"
                                       class="md-input ng-isolate-scope md-input-processed"
                                       type="text" ng-model="config.configValue"
                                       ng-required="true"
                                       data-parsley-required-message="{{messages.required}}"
                                       readonly
                                />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
