<div id="page_content">
    <form name="config_form" id="config_form" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-primary" ui-sref="configs" data-translate="admin.menu.logs"></a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <a class="uk-text-primary" ui-sref="configs" data-translate="admin.menu.configs"></a>&nbsp;<i
                    class="uk-icon-arrow-circle-right"></i>
                <span data-translate="global.button.create"></span>
            </span>
            <br/>
            <div class="uk-margin-small-top">
                <button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Data_Package_Create" ng-click="submit(false)" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.save"></span></button>
                <button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Data_Package_Create" ng-click="submit(true)" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.saveAndClose"></span></button>
                <a has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Data_Package_Delete" ui-sref="configs" class="md-btn md-btn-small"><span class="uk-text-bold"
                                                                                                                                                   data-translate="global.button.cancel"></span></a>
            </div>
        </div>
        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1">
                            <!-- Line 1 -->
                            <div class="uk-grid">

                                <div class="uk-width-small-2-3 uk-width-medium-1-4 parsley-row">
                                    <label class="label-bold" for="key" data-translate="config.column.key"></label> *
                                    <input name="key" id="key"
                                           class="md-input ng-isolate-scope md-input-processed"
                                           type="text" ng-model="config.configKey"
                                           ng-required="true"
                                           data-parsley-required-message="{{messages.required}}"
                                           data-parsley-maxlength="255"
                                           data-parsley-maxlength-message="{{messages.maxLength255}}"/>
                                </div>

                                <div class="uk-width-small-2-3 uk-width-medium-1-4 parsley-row">
                                    <label class="label-bold custom-label" for="val" data-translate="config.column.value"></label> *
                                    <input name="value" id="val"
                                           class="md-input ng-isolate-scope md-input-processed"
                                           type="text" ng-model="config.configValue"
                                           ng-required="true"
                                           data-parsley-required-message="{{messages.required}}"
                                    />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>
