<div id="page_content" class="pageDetail">
    <form name="form_edit_alarm_config" id="form_edit_alarm_config" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-primary" ui-sref="alarm-config" data-translate="admin.menu.alarm.name"></a>&nbsp;
                <i class="uk-icon-arrow-circle-right"></i>

                <a class="uk-text-primary" ui-sref="alarm-config" data-translate="global.button.list"></a>&nbsp;
                <i class="uk-icon-arrow-circle-right"></i>

                <a class="uk-text-primary" ui-sref="alarm-config-detail({ configId: alarmConfig.id })"> {{ alarmConfig.name}}</a>&nbsp;
                <i class="uk-icon-arrow-circle-right"></i>

                <span data-translate="global.button.edit"></span>
            </span>
            <br/>
            <div class="uk-margin-small-top">
                <button ng-click="submit(false)" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.save"></span></button>
                <button ng-click="submit(true)" type="submit" class="md-btn md-btn-primary md-btn-small"><span
                        class="uk-text-bold" data-translate="global.button.saveAndClose"></span></button>
                <a ui-sref="alarm-config-detail({ configId: alarmConfig.id })" class="md-btn md-btn-small"><span class="uk-text-bold"
                                                                                                                    data-translate="global.button.cancel"></span></a>
            </div>
        </div>

        <div id="page_content_inner">
            <jhi-alert></jhi-alert>
            <modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid">
                        <!--Khu vuc san xuat-->
                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.area"></label>
                            <span class="req">*</span>
                        </div>
                        <div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                            <input id="areaCbb" name="areaCbb"
                                   data-parsley-trigger="focusout change"
                                   ng-required="true"
                                   data-parsley-required-message="{{messages.required}}"
                                   position="bottom"
                                   config="ComboBox['areaCbb'].config"
                                   options="ComboBox['areaCbb'].options"
                                   ng-model="alarmConfig.areaId"
                                   table="ComboBox['areaCbb'].table"
                                   column="ComboBox['areaCbb'].column"
                                   ng-change="areaChange()"
                                   ng-model-object="selectedCbb.area"
                                   scope-controller="ComboBox['areaCbb'].scope" selectize>
                        </div>

                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.areaShortName"></label>
                        </div>

                        <div class="uk-width-small-1-3 uk-width-medium-1-3 parsley-row" style="display: inline">
                            <div class="uk-width-small-1-3 parsley-row" style="display: inline-block">
                                <input data-parsley-whitespace="trim"
                                       ng-model="alarmConfig.areaShortName" 
                                       ng-disabled="true"
                                       id="areaShortName" type="text"
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                            </div>
                            
                            <div class="uk-width-small-1-3 parsley-row" style="display: inline;">
                                <i ng-if="alarmConfig.active == 1" ng-click="changeAlarmActivated(0)" class="uk-icon-toggle-on uk-icon-medium uk-text-success custom-cursor-pointer" style="float: right"></i>
                                <i ng-if="alarmConfig.active == 0" ng-click="changeAlarmActivated(1)" class="uk-icon-toggle-off uk-icon-medium uk-text-danger custom-cursor-pointer" style="float: right"></i>
                                 
                            </div>
                            
                        </div>
                    </div> 

                    <div class="uk-grid">
                        <!--Gateway-->
                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.belongGW"></label>
                        </div>
                        <div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
                            <input id="gatewayCbb" name="gatewayCbb"
                                   data-parsley-trigger="focusout change"
                                   position="bottom"
                                   config="ComboBox['gatewayCbb'].config"
                                   options="ComboBox['gatewayCbb'].options"
                                   ng-model="alarmConfig.gatewayId"
                                   table="ComboBox['gatewayCbb'].table"
                                   column="ComboBox['gatewayCbb'].column"
                                   ng-change="gatewayChange()"
                                   ng-model-object="selectedCbb.gateway"
                                   scope-controller="ComboBox['gatewayCbb'].scope" selectize>
                        </div>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.activated"></label>
                        </div>

                        <div class="uk-width-small-1-3 uk-width-medium-1-3 parsley-row">
                            <div class="parsley-row">
                                
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid">
                        <!--Ten bao cao-->
                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.name"></label>
                            <span class="req">*</span>
                        </div>

                        <div class=" uk-width-small-2-3 uk-width-medium-2-6">
                            <div class="parsley-row">
                                <input data-parsley-trigger="keyup focusout change"
                                       ng-required="true"
                                       data-parsley-required-message="{{messages.required}}"
                                       data-parsley-maxlength="255"
                                       data-parsley-maxlength-message="{{messages.maxLength255}}"
                                       data-parsley-whitespace="trim"
                                       ng-model="alarmConfig.name" id="name" type="text"
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid">
                        <!--Gia tri canh bao-->
                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.value"></label>
                            <span class="req">*</span>
                        </div>
                        <div class=" uk-width-small-1-3 uk-width-medium-1-6 parsley-row">
                            <input id="alarmValueCbb" name="alarmUnitCbb"
                                   data-parsley-trigger="keyup focusout change"
                                   ng-required="true"
                                   data-parsley-required-message="{{messages.required}}"
                                   position="bottom"
                                   config="ComboBox['alarmUnitCbb'].config"
                                   options="ComboBox['alarmUnitCbb'].options"
                                   ng-model="alarmConfig.unit"
                                   ng-change="changeUnit(alarmConfig.unit)"
                                   table="ComboBox['alarmUnitCbb'].table"
                                   column="ComboBox['alarmUnitCbb'].column"
                                   scope-controller="ComboBox['alarmUnitCbb'].scope" selectize>
                        </div>
                        <div class="uk-width-small-1-3 uk-width-medium-1-6 parsley-row" ng-hide="hideOperator">
                            <input id="alarmOperatorCbb" name="alarmOperatorCbb"
                                   data-parsley-trigger="keyup focusout change"
                                   ng-required="requiedOperator"
                                   data-parsley-required-message="{{messages.required}}"
                                   position="bottom"
                                   config="ComboBox['alarmOperatorCbb'].config"
                                   options="ComboBox['alarmOperatorCbb'].options"
                                   ng-model="alarmConfig.operator"
                                   ng-change="changeOperator(alarmConfig.operator)"
                                   table="ComboBox['alarmOperatorCbb'].table"
                                   column="ComboBox['alarmOperatorCbb'].column"
                                   scope-controller="ComboBox['alarmOperatorCbb'].scope" selectize>
                        </div>
                        <div class="uk-width-small-1-3 uk-width-medium-1-6 parsley-row" ng-hide="hideValue">
                            <div class="parsley-row">
                                <input data-parsley-trigger="keyup focusout change"
                                       ng-required="requiedValue"
                                       data-parsley-required-message="{{messages.required}}"
                                       data-parsley-whitespace="trim"
                                       ng-model="alarmConfig.value" 
                                       id="value" type="text"
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                            </div>
                        </div>
                        
                        <div class="uk-width-small-1-3 uk-width-medium-1-6 parsley-row" ng-hide="hideMinMax">
                            <div class="parsley-row">
                                <input data-parsley-trigger="keyup focusout change"
                                       ng-required="requiedMinMax"
                                       data-parsley-required-message="{{messages.required}}"
                                       data-parsley-whitespace="trim"
                                       ng-model="alarmConfig.min" 
                                       ng-change="changeMinMax(alarmConfig.min, alarmConfig.max)"
                                       id="min" type="text"
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                            </div>
                        </div>
                        
                        <div class="uk-width-small-1-3 uk-width-medium-1-6 parsley-row" ng-hide="hideMinMax">
                            <div class="parsley-row">
                                <input data-parsley-trigger="keyup focusout change"
                                       ng-required="requiedMinMax"
                                       data-parsley-required-message="{{messages.required}}"
                                       data-parsley-whitespace="trim"
                                       ng-model="alarmConfig.max" 
                                       ng-change="changeMinMax(alarmConfig.min, alarmConfig.max)"
                                       id="max" type="text"
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                            </div>
                        </div>

                        <div class="uk-width-small-1-3 uk-width-medium-1-3 parsley-row" ng-hide="hideEnable">
                            <div class="parsley-row">
                                <input data-parsley-whitespace="trim"
                                       ng-model="alarmConfig.enable"
                                       ng-disabled="true"
                                       id="enable" type="text"
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                            </div>
                        </div>
                    </div>

                    <!--Noi dung canh bao-->
                    <div class="uk-grid">
                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.content"></label>
                            <span class="req">*</span>
                        </div>

                        <div class=" uk-width-small-2-3 uk-width-medium-2-6">
                            <div class="parsley-row">
                                
                                <textarea cols="50" class="md-input ng-isolate-scope md-input-processed border-around"
		                                      data-parsley-maxlength="500"
		                                      data-parsley-maxlength-message="{{'global.messages.maxLength500' | translate}}"
                                                      ng-required="true"
                                                      ng-model="alarmConfig.content" md-input>    
                                </textarea>

                            </div>
                        </div>
                    </div>

                    <!--Phương thức cảnh báo-->
                    <div class="uk-grid">
                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="label-bold title-organization ng-scope"
                                   data-translate="alarm.fieldHis.method"></label>
                        </div>

                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="title-organization ng-scope" data-translate="Email"></label>
                            <input id="alarm_sms" type="checkbox" class="ts_checkbox" data-md-icheck icheck 
                                   ng-model="alarmConfig.methodSms"
                                   ng-required="false"
                                   ng-change="changeCheckbox(alarmConfig.methodSms, alarmConfig.methodOnsite)"
                                   >
                        </div>

                        <div class="uk-width-small-1-3 uk-width-medium-1-6">
                            <label class="title-organization ng-scope" data-translate="Onsite"></label>
                            <input id="alarm_onsite" type="checkbox" class="ts_checkbox" data-md-icheck icheck 
                                   ng-model="alarmConfig.methodOnsite"
                                   ng-required="false"
                                   ng-change="changeCheckbox(alarmConfig.methodSms, alarmConfig.methodOnsite)"
                                   >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>