<div id="page_content">
    <form name="form_createUom" id="form_createUom"
          class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_actions action-padding-top">
        </div>
        <span class="route-header">
            <a class="uk-text-primary" ui-sref="category" data-translate="admin.menu.master"></a>&nbsp;<i class="uk-icon-arrow-circle-right"></i>
            <a class="uk-text-primary" ui-sref="uoms" data-translate="admin.uom.list"></a>&nbsp;<i class="uk-icon-arrow-circle-right"></i>
            <a class="uk-text-primary" ui-sref="uoms-detail({uomId: uom.id })" >{{uom.name}}</a>&nbsp;<i class="uk-icon-arrow-circle-right"></i>
            <span data-translate="global.button.edit"></span>
        </span>
        <br/>
        <div class="uk-margin-small-top">
            <button has-any-authority="ROLE_SYSTEM_ADMIN,ROLE_FARM_ADMIN, Uom_Update" ng-click="submit(false)" type="submit" class="md-btn md-btn-primary md-btn-small"><span class="uk-text-bold" data-translate="global.button.save"></span></button>
            <button has-any-authority="ROLE_SYSTEM_ADMIN,ROLE_FARM_ADMIN, Uom_Update" ng-click="submit(true)" type="submit" class="md-btn md-btn-primary md-btn-small"><span class="uk-text-bold" data-translate="global.button.saveAndClose"></span></button>
            <a ui-sref="uoms-detail({ uomId: uom.id })" class="md-btn md-btn-small"><span class="uk-text-bold" data-translate="global.button.cancel"></span></a>
        </div>
    </div>
        <div id="page_content_inner">
            <jhi-alert></jhi-alert><modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">

                    <!--organization-->
                    <!--<div class="uk-width-medium-1-1 uk-row-first">-->
                        <!--<div class="uk-grid">-->
                            <!--<div class="uk-width-small-2-10">-->
                                <!--<label class="label-bold title-organization" for="uom-organizationId" data-translate="admin.uomType.column.organization"></label>-->
                                <!--<span class="req"> (*)</span>-->
                            <!--</div>-->

                            <!--<div class="uk-width-small-6-10 parsley-row">-->
                                <!--<input id="uom-organizationId"-->
                                       <!--data-parsley-required-message="{{required_msg}}"-->
                                       <!--data-parsley-trigger="focusin"-->
                                       <!--ng-required="true"-->
                                       <!--position="bottom"-->
                                       <!--config="ComboBox['uom-organizationId'].config"-->
                                       <!--options="ComboBox['uom-organizationId'].options"-->
                                       <!--ng-model="uom.organizationId"-->
                                       <!--ng-change="onChangeOrganization()"-->
                                       <!--table="ComboBox['uom-organizationId'].table"-->
                                       <!--column="ComboBox['uom-organizationId'].column"-->
                                       <!--scope-controller="ComboBox['uom-organizationId'].scope"-->
                                       <!--selectize="">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!-- loai don vi-->
                    <div class="uk-width-medium-1-1 uk-row-first">
                        <div class="uk-grid">
                            <div class="uk-width-small-2-10">
                                <label class="label-bold title-organization" for="uom-uomTypeId" data-translate="admin.uomType.column.type"></label>
                                <span class="req"> (*)</span>
                            </div>

                            <div class="uk-width-small-6-10 parsley-row">
                                <input
                                        id="uom-uomTypeId"
                                        data-parsley-required-message={{required_msg}}
                                        data-parsley-trigger="focusin"
                                        ng-required="true"
                                        position="bottom"
                                        config="ComboBox['uom-uomTypeId'].config"
                                        options="ComboBox['uom-uomTypeId'].options"
                                        ng-model="uom.uomTypeId"
                                        ng-change="onChangeUomType()"
                                        table="ComboBox['uom-uomTypeId'].table"
                                        column="ComboBox['uom-uomTypeId'].column"
                                        scope-controller="ComboBox['uom-uomTypeId'].scope" selectize="">
                            </div>
                        </div>

                    </div>

                    <!--ten-->
                    <div class="uk-width-medium-1-1 uk-row-first">
                        <div class="uk-grid">
                            <div class="uk-width-small-2-10">
                                <label class="label-bold title-organization" for="name" data-translate="admin.uomType.column.name"></label>
                                <span class="req"> (*)</span>
                            </div>
                            <div class="uk-width-small-6-10">
                                <input data-parsley-required-message={{required_msg}}
                                       data-parsley-whitespace="trim"
                                       data-parsley-maxlength-message="{{maxLength255}}"
                                       data-parsley-maxlength="255"
                                       ng-model="uom.name" type="text" name="name" id="name" required=""
                                       class="md-input ng-isolate-scope md-input-processed" md-input="">
                                <span class="md-input-bar "></span>
                            </div>
                        </div>
                    </div>

                    <!-- pronunciation -->
                    <div class="uk-width-medium-1-1 uk-row-first">
                        <div class="uk-grid">
                            <div class="uk-width-small-2-10">
                                <label class="label-bold title-organization" for="pronunciation" data-translate="admin.uom.column.pronunciation"><span
                                        class="req"> *</span></label>
                            </div>
                            <div class="uk-width-small-6-10">
                                <input
                                       data-parsley-whitespace="trim"
                                       data-parsley-maxlength-message="{{maxLength255}}"
                                       data-parsley-maxlength="255"
                                       ng-model="uom.pronunciation"
                                       type="text" name="pronunciation"
                                       id="pronunciation"
                                       class="md-input ng-isolate-scope md-input-processed"
                                       md-input="">
                            </div>
                        </div>
                    </div>

                    <!-- unit bacis-->
                    <div class="uk-width-medium-1-1 uk-row-first">
                        <div class="uk-grid">
                            <div class="uk-width-small-2-10">
                                <label class="label-bold title-organization" for="description" data-translate="admin.uom.column.isBasis"></label>
                            </div>
                            <div class="uk-width-small-6-10"  style="margin-top: 15px">
                                <input
                                        id="type"
                                        type="checkbox"
                                        class="ts_checkbox"
                                        data-md-icheck icheck ng-model="uom.type"
                                        ng-change="onChangeIsBasisUnit()">
                            </div>
                        </div>
                    </div>

                    <!-- hệ số chuyển đổi -->
                    <div class="uk-width-medium-1-1 uk-row-first">
                        <div class="uk-grid">
                            <div class="uk-width-small-2-10">
                                <label class="label-bold title-organization" for="description" data-translate="admin.uom.column.conversionFactor"></label>
                                <span class="req"> (*)</span>
                            </div>
                            <div class="uk-width-small-3-10">
                                <input data-parsley-min="0.01"
                                       data-parsley-min-message="{{greaterThanZero}}"
                                       data-parsley-required-message={{required_msg}}
                                       data-parsley-type-message="{{gln_msg}}"
                                       data-parsley-length-message="{{maxLength20}}"
                                       data-parsley-length="[1, 20]"
                                       step="any"
                                       data-parsley-whitespace="trim"
                                       data-parsley-pattern="^-?\d{1,12}(\.\d{0,6})?$"
                                       data-parsley-pattern-message="{{float12_6}}"
                                       ng-model="uom.conversionFactor"
                                       ng-readonly="uom.type"
                                       type="number" name="conversionFactor"
                                       id="conversionFactor" required=""
                                       class="md-input ng-isolate-scope md-input-processed"
                                       md-input="">
                            </div>

                            <div class="uk-width-small-2-10" ng-show="!uom.type">
                                <label class="label-bold title-organization" for="description" data-translate="admin.uom.column.basis"></label>
                                <span class="req"> (*)</span>
                            </div>
                            <div class="uk-width-small-3-10 parsley-row" ng-show="!uom.type">
                                <input
                                        ng-required="!uom.type"
                                        data-parsley-required-message={{required_msg}}
                                        data-parsley-trigger="focusin"
                                        id="uom-baseUnitId"
                                        position="bottom"
                                        config="ComboBox['uom-baseUnitId'].config"
                                        options="ComboBox['uom-baseUnitId'].options"
                                        ng-model="uom.baseUnitId"
                                        table="ComboBox['uom-baseUnitId'].table"
                                        column="ComboBox['uom-baseUnitId'].column"
                                        scope-controller="ComboBox['uom-baseUnitId'].scope" selectize="">
                            </div>
                        </div>
                    </div>

                    <!-- description -->
                    <div class="uk-width-medium-1-1 uk-row-first">
                        <div class="uk-grid">
                            <div class="uk-width-small-2-10">
                                <label class="label-bold title-organization" for="description" data-translate="admin.uom.column.description"><span
                                        class="req"> *</span></label>
                            </div>
                            <div class="uk-width-small-6-10">
                                <textarea
                                        style="border-width: 1px 1px 1px;"
                                        data-parsley-whitespace="trim"
                                        data-parsley-maxlength-message="{{maxLength1000}}"
                                        data-parsley-maxlength="1000"
                                        ng-model="uom.description"
                                        type="text" name="description"
                                        id="description"
                                        class="md-input ng-isolate-scope md-input-processed"
                                        md-input="">
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </form>
</div>