<style>
    body {
        background-image: url("assets/img/bg1.png");
        background-color: #cccccc;
        background-size:cover

    }
</style>

<div class="login_page_wrapper">
    <div class="md-card" id="login_card">
        <jhi-alert></jhi-alert><modal-alert></modal-alert>
        <div style="text-align: center; padding-top: 16px">
            <img src="assets/img/log.png" style="height: 30%"; width="30%">
        </div>
        <div class="md-card-content large-padding" id="login_form" style="padding-bottom: 25px;">
            <form ng-submit="vm.reset($event)" ng-show="validLink"
            		name="form_ResetPass"
		            id="form_ResetPass"
		            class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required"
		            novalidate="">
            	<div class="uk-form-row"></div>
                <div class="uk-form-row">
                    <span >Email</span>
                    <input ng-disabled="true" class="md-input" type="text" id="email" ng-model="vm.email" md-input />
                </div>
                <div class="uk-form-row">
                    <span class="ng-scope" data-translate="global.resetPassPage.newPassword">Mật khẩu mới</span> <span class="required">*</span>
                    <div class="parsley-row">
                    	<input class="md-input md-input ng-isolate-scope md-input-processed" type="password" id="password" ng-model="vm.newPassword"
                    		data-parsley-trigger="change"
                            data-parsley-whitespace="trim"
                    		ng-required="true"
                            data-parsley-required-message="{{'global.messages.required' | translate}}"
                    		data-parsley-length="[8,32]"
                    		data-parsley-length-message="{{'global.messages.passwordLength' | translate}}"
                    		data-parsley-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9])(?=\S+$).{8,32}$/g"
                            data-parsley-pattern-message="{{'global.messages.password' | translate}}"
                            md-input />
                    </div>
                </div>
                <div class="uk-form-row">
                    <span class="ng-scope" data-translate="global.resetPassPage.confirmPassword">Xác nhận mật khẩu</span> <span class="required">*</span>
                    <div class="parsley-row">
                    	<input data-parsley-trigger="change"
                               data-parsley-whitespace="trim"
                    		   data-parsley-required-message="{{'global.messages.required' | translate}}"
                               data-parsley-length="[8,32]"
                    		   data-parsley-length-message="{{'global.messages.passwordLength' | translate}}"
                    		   data-parsley-equalto-message="{{'global.resetPassPage.confirmPassError' | translate}}"
                               data-parsley-equalto="#password"
                               data-parsley-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9])(?=\S+$).{8,32}$/g"
                               data-parsley-pattern-message="{{'global.messages.password' | translate}}"
                               required="required"
                               type="password" id="confirmPassword" ng-model="vm.confirmPassword"
                               class="md-input md-input ng-isolate-scope md-input-processed"  md-input />
                    </div>
                </div>
                <div class="uk-margin-medium-top">
                    <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-large" class="ng-scope" data-translate="global.resetPassPage.btnChangePass">Đổi mật khẩu</button>
                </div>
            </form>
            <h4 ng-show="!validLink" style="text-align: center" class="uk-text-danger" class="ng-scope" data-translate="global.resetPassPage.linkResetPassError">Đường link không hợp lệ hoặc đã hết hạn</h4>
        </div>
    </div>
</div>