<div id="page_content">
	<form name="firmware_form" id="firmware_form" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
		<div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-primary" ui-sref="policy"> <span data-translate="admin.menu.policyManagement"></span> </a>&nbsp;<i
				class="uk-icon-arrow-circle-right"></i>
                <span class="overflowLongText" value="policy.namePolicy" is-input="false"></span>
            </span>
			<div class="uk-margin-small-top">
				<a ng-show="policy.active == 2" has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Policy_Update" ng-click="policyEdit(policy.id)" class="md-btn md-btn-small">
					<span class="uk-text-bold" data-translate="global.button.edit"></span>
				</a>
				<a  has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Policy_Create" ui-sref="policy-create" class="md-btn md-btn-primary md-btn-small">
					<span class="uk-text-bold" data-translate="global.button.create"></span>
				</a>
				<a ng-hide="policy.active == 2"  has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN,Policy_History_View" ui-sref="policy-history({id: policy.id})" class="md-btn md-btn-warning md-btn-small">
					<span class="uk-text-bold" data-translate="device.policy.field.history"></span>
				</a>
			</div>
		</div>
		<div id="page_content_inner">
			<jhi-alert></jhi-alert>
			<modal-alert></modal-alert>
			<div class="md-card">
				<div class="md-card-content">
					<change-state-policy has-any-authority="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Change_Status"
                              model="policy"
                              activate-service="CbxActivate.activateService"
                              deactivate-service="CbxActivate.deactivateService">
                    </change-state-policy>
					<change-state-policy class="disabled" do-not-have-authority="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Change_Status"
										 model="policy"
										 activate-service="CbxActivate.activateService"
										 deactivate-service="CbxActivate.deactivateService">
					</change-state-policy>
                    <div class="uk-grid" data-uk-grid-margin="">
	                    <div class="uk-width-medium-10-10">
							<div class="uk-grid">
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold ng-scope" data-translate="device.policy.field.name"></label> <span class="req"> *</span>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-5-6 parsley-row">
									<input
										readonly
										ng-model="policy.namePolicy"
										class="md-input ng-isolate-scope md-input-processed" md-input="">
								</div>
							</div>
							
							<div class="uk-grid">
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold" data-translate="device.policy.field.deviceType"></label><span class="req"> *</span>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-5-6 parsley-row">
									<input
										readonly
										ng-model="policy.deviceTypeName"
										class="md-input ng-isolate-scope md-input-processed" md-input="">
								</div>
								<!-- <div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold ng-scope" data-translate="device.policy.field.provider"></label> <span class="req"> *</span>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
									<input
										readonly
										ng-model="policy.providerName"
										class="md-input ng-isolate-scope md-input-processed" md-input="">
								</div> -->
							</div>

							<div class="uk-grid">
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold ng-scope"></label>Khu vực<span class="req"> *</span>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
									<div class="custom-box" ng-if="policy.areas && policy.areas.length >0">
										<span ng-repeat="area in policy.areas">
											<a class="md-btn md-btn-small custom-item" >{{area.name}}</a>
										</span>
									</div>
								</div>
							</div>

							<div class="uk-grid">
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold" data-translate="device.policy.field.deviceModel"></label><span class="req"> *</span>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
									<input
										readonly
										ng-model="policy.deviceModelName"
										class="md-input ng-isolate-scope md-input-processed" md-input="">
								</div>
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold ng-scope" data-translate="device.policy.field.modelCode"></label> <span class="req"> *</span>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
									<input
										readonly
										ng-model="policy.modelCode"
										class="md-input ng-isolate-scope md-input-processed" md-input="">
								</div>
							</div>
							
							<div class="uk-grid">
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold ng-scope" data-translate="device.policy.field.upgradeFromVersion"></label>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6">
									<div class="parsley-row">
										<div class="custom-label" style="font-weight: 500 !important">
											<div ng-if="policy.fromVersion">
												<span ng-repeat="fw in policy.fromVersionLst">{{fw.firmwareVersion}} <br></span>
											</div>
											<span ng-if="!policy.fromVersion">All</span>
										</div>
									</div>
								</div>
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold" data-translate="device.policy.field.upgradeVersioning"></label>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
									<input
										readonly
										ng-model="policy.versioningName"
										class="md-input ng-isolate-scope md-input-processed" md-input="">
								</div>
							</div>
							
							<div class="uk-grid">
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold ng-scope" data-translate="device.policy.field.exceptVersions"></label>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6">
									<div class="parsley-row">
										<div class="custom-label" style="font-weight: 500 !important">
											<div ng-if="policy.exceptVersionName">
												<span ng-repeat="fw in policy.exceptVersionLst">{{fw.firmwareVersion}} <br></span>
											</div>
										</div>
									</div>
								</div>
								<div class="uk-width-small-1-3 uk-width-medium-1-6">
									<div class="custom-label">
										<label class="label-bold" data-translate="device.policy.field.createdDate"></label>
									</div>
								</div>
								<div class="uk-width-small-2-3 uk-width-medium-2-6 parsley-row">
									<input
										readonly
										ng-model="createdString"
										class="md-input ng-isolate-scope md-input-processed" md-input="">
								</div>
							</div>
							<div class="uk-grid">
								<div class="uk-width-medium-3-10">
									<div class="custom-label">
										<label class="label-bold ng-scope"></label>Nội dung thông báo<span class="req"> *</span>
									</div>
								</div>
								<div class="uk-width-medium-7-10 parsley-row">
									<input
											readonly="true"
											data-parsley-whitespace="trim"
											ng-model="policy.notificationContent"
											class="md-input ng-isolate-scope md-input-processed" md-input="">
									<span class="md-input-bar "></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
