
<div id="page_content">
	<jhi-alert></jhi-alert><modal-alert></modal-alert>
	<div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }" class="header-fixed">
        <span class="route-header">
            <a class="uk-text-primary" ui-sref="device-manager" data-translate="admin.menu.policyManagement"></a>
        </span>
		</br>
		<div class="uk-margin-small-top">
			<a has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Create" ui-sref="policy-create" class="md-btn md-btn-primary md-btn-small"><span class="uk-text-bold" data-translate="global.button.create"></span></a>
			<button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Delete" id="deleteBtn" class="md-btn md-btn-small hideElement" ng-click="defaultDelete()"><span class="uk-text-bold" data-translate="global.button.delete"></span></button>
		</div>
	</div>
	<div id="page_content_inner">
		<div class="md-card">
			<div class="md-card-content">
				<div class="uk-overflow-container uk-margin-bottom table-height-fixed">
					<table class="hoverTable uk-table uk-table-align-vertical uk-table-striped  tablesorter tablesorter-altair table-fixed" id="policy">
						<thead >
						<tr class="uk-table-nowrap">
							<th data-name="Select"><input type="checkbox" class="ts_checkbox_all"></th>
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.name'"  column="'namePolicy'"></th-content></th>
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.modelCode'"  column="'modelCode'"></th-content></th>
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.deviceType'"  column="'deviceTypeId'"></th-content></th>
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.deviceModel'"  column="'deviceModelName'"></th-content></th>
							<th class="center"><th-content table="TABLES['policy']" label="'Khu vực'"  column="'area'"></th-content></th>
							<!-- <th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.provider'"  column="'providerId'"></th-content></th> -->
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.fromVersion'"  column="'fromVersionName'"></th-content></th>
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.toVersion'"  column="'versioningName'"></th-content></th>
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.exceptVersion'"  column="'exceptVersionName'"></th-content></th>
							<th class="center"><th-content table="TABLES['policy']" label="'device.policy.field.createdDate'"  column="'created'"></th-content></th>
							<th class="center custom-cl-header-tiny"><b data-translate="device.field.action"></b></th>
						</tr>
						<tr>
							<td></td>
							<td><default-filter table="TABLES['policy']" column="'namePolicy'"></td>
							<td><default-filter table="TABLES['policy']" column="'modelCode'"></td>
							<td>
								<selectize id="deviceTypeCbb"
                                           position="bottom"
                                           config="ComboBox['deviceTypeCbb'].config"
                                           options="ComboBox['deviceTypeCbb'].options"
                                           ng-model="ComboBox['deviceTypeCbb'].ngModel"
                                           table="ComboBox['deviceTypeCbb'].table"
                                           column="ComboBox['deviceTypeCbb'].column"
                                           scope-controller="ComboBox['deviceTypeCbb'].scope">
                                </selectize>
                            </td>
							<td>
								<default-filter table="TABLES['policy']" column="'deviceModelName'">
							</td>
							<td>
								<selectize id="areaId" name="area"
										   position="bottom"
										   config="ComboBox['areaCbb'].config"
										   options="ComboBox['areaCbb'].options"
										   ng-model="input.areaIds"
										   ng-change="search()"
										   table="ComboBox['areaCbb'].table"
										   column="ComboBox['areaCbb'].column"
										   scope-controller="ComboBox['areaCbb'].scope" ></selectize>
							</td>
							<!-- <td>
								<selectize id="providerCbb"
                                           position="bottom"
                                           config="ComboBox['providerCbb'].config"
                                           options="ComboBox['providerCbb'].options"
                                           ng-model="ComboBox['providerCbb'].ngModel"
                                           table="ComboBox['providerCbb'].table"
                                           column="ComboBox['providerCbb'].column"
                                           scope-controller="ComboBox['providerCbb'].scope">
                                </selectize>
							</td> -->
							<td><default-filter table="TABLES['policy']" column="'fromVersionName'"></td>
							<td><default-filter table="TABLES['policy']" column="'versioningName'"></td>
							<td><default-filter table="TABLES['policy']" column="'exceptVersionName'"></td>
							<td><date-picker-filter table="TABLES['policy']" column="'created'"></date-picker-filter></td>
							<td></td>
						</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in policy" on-last-repeat ng-class="{'hoverRow': !obj.unRemove, 'custom-un-remove': obj.unRemove}" title="{{obj.unRemove}}">
								<td><input id="{{obj.id}}" type="checkbox" class="ts_checkbox" data-md-icheck icheck ng-model="row_select"></td>
								<td>
									<a has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_View_Detail" ui-sref="policy-detail({id: obj.id })">{{obj.namePolicy}}</a>
									<span do-not-have-authority="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_View_Detail">{{obj.namePolicy}}</span>
								</td>
								<td>{{obj.modelCode}}</td>
								<td>{{obj.deviceTypeName}}</td>
								<td>{{obj.deviceModelName}}</td>
								<td>
									<div class="custom-box" ng-if="obj.areas && obj.areas.length >0">
										<span ng-repeat="area in obj.areas">
											<a class="md-btn md-btn-small custom-item" >{{area.name}}</a>
										</span>
									</div>
								</td>
								<!-- <td>{{obj.providerName}}</td> -->
								<td>
									<span ng-if="obj.fromVersion">
										<span ng-repeat="fw in obj.fromVersionLst">{{fw.firmwareVersion}} <br></span>
									</span>
									<span ng-if="!obj.fromVersion">All</span>
								</td>
								<td>{{obj.versioningName}}</td>
								<td>
									<span ng-if="obj.exceptVersionName">
										<span ng-repeat="fw in obj.exceptVersionLst">{{fw.firmwareVersion}} <br></span>
									</span>
								</td>
								<td>{{obj.created | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
								<td style="text-align: center">
									<a ng-if="obj.active != 1" has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Change_Status" ng-click="startPolicy(obj.id)" title="Kích hoạt" class="material-icons">
										play_circle_filled
									</a>
									<a ng-if="obj.active == 2" has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Change_Status" ui-sref="policy-edit({id: obj.id })" title="{{'global.tooltip.edit' | translate}}">
										<i class="uk-icon-small uk-icon-edit" style="font-size: 17px"></i>
									</a>
									<a ng-if="obj.active == 1" has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Change_Status" ng-click="stopPolicy(obj.id)" title="{{'global.tooltip.stop' | translate}}" class="material-icons">
										pause_circle_filled
									</a>
									<a ng-if="obj.active != 1" has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_HOME_ADMIN, Policy_Delete" ng-click="deleteOne(obj.id)" title="{{'global.tooltip.delete' | translate}}" class="material-icons">delete</a>&nbsp;
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="ts_pager" id="table_policy_pager">
					<ul class="uk-pagination ts_pager">
						<li ng-click="selectPageClickHandle()" data-uk-tooltip title="{{selectPage}}">
							<input ng-change="selectPageHandle('policy')" id="policy_selectize_page" type="text"
								   config="TABLES['policy'].selectize_page_config" options="TABLES['policy'].selectize_page_options"
								   ng-model="TABLES['policy'].selectize_page" name="TABLES['policy'].selectize_page" selectize>
						</li>
						<li><a href="javascript:void(0)" class="firstPage" ng-click="handleFirstPage('policy')"><i class="uk-icon-angle-double-left"></i></a></li>
						<li><a href="javascript:void(0)" class="prevPage" ng-click="handlePreviousPage('policy')"><i class="uk-icon-angle-left"></i></a></li>
						<li><span class="pageDisplay"></span></li>
						<li><a href="javascript:void(0)" class="nextPage" ng-click="handleNextPage('policy')"><i class="uk-icon-angle-right"></i></a></li>
						<li><a href="javascript:void(0)" class="lastPage" ng-click="handleLastPage('policy')"><i class="uk-icon-angle-double-right"></i></a></li>
						<li data-uk-tooltip title="{{pageSize}}">
							<input ng-change="selectPageNumHandle('policy')" id="policy_selectize_pageNum" type="text"
								   config="TABLES['policy'].selectize_pageNum_config" options="TABLES['policy'].page_size_option"
								   ng-model="TABLES['policy'].selectize_pageNum" name="TABLES['policy'].selectize_pageNum" selectize>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


