<div id="page_content">
    <form name="area_model_form" id="area_model_form" class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
            <span class="route-header">
                <a class="uk-text-primary">Quản lý tài khoản quản trị và phân quyền</a>&nbsp;<i class="uk-icon-arrow-circle-right"></i>
                <a class="uk-text-primary" ui-sref="areas">Khu vực</a> &nbsp;<i class="uk-icon-arrow-circle-right"></i> <span >Tạo mới</span>
            </span>
            <br/>
            <div class="uk-margin-small-top">
                <button ng-click="submit()" type="submit" class="md-btn md-btn-primary md-btn-small"><span class="uk-text-bold" data-translate="global.button.save"></span></button>
                <button ng-click="submit(true)" type="submit" class="md-btn md-btn-succesuser.emails md-btn-small"><span class="uk-text-bold" data-translate="global.button.saveAndClose"></span></button>
                <a ui-sref="areas" class="md-btn md-btn-small"><span class="uk-text-bold" data-translate="global.button.cancel"></span></a>
            </div>
        </div>
        <div id="page_content_inner">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1">
                    <jhi-alert></jhi-alert><modal-alert></modal-alert>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold">Tên</label> *
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                            <input
                                                ng-model="area.name"
                                                required="true"
                                                data-parsley-maxlength="50"
                                                data-parsley-required-message="{{'global.messages.required' | translate}}"
                                                data-parsley-maxlength-message="{{'global.messages.maxLength50' | translate}}"
                                                data-parsley-whitespace="trim"
                                                data-parsley-trigger="change"
                                                id="name"
                                                type="text"
                                                name="name"
                                                class="md-input ng-isolate-scope md-input-processed" md-input="">
                                        <span class="md-input-bar "></span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold" >Khu vực cha</label> *
                                    </div>
                                </div>
                                <div class="parsley-row uk-width-medium-1-2">
                                    <input id="areaId" name="area"
                                           ng-required="true"
                                           data-parsley-required-message="{{'global.messages.required' | translate}}"
                                           data-parsley-trigger="focusin focusout"
                                           position="bottom"
                                           config="ComboBox['area'].config"
                                           options="ComboBox['area'].options"
                                           ng-model="area.parentId"
                                           table="ComboBox['area'].table"
                                           column="ComboBox['area'].column"
                                           scope-controller="ComboBox['area'].scope" selectize>
                                    <span class="md-input-bar "></span>
                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin="">
                                <div class="uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold">Mã khu vực</label> *
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <input
                                                ng-model="area.areaCode"
                                                required="true"
                                                data-parsley-maxlength="50"
                                                data-parsley-required-message="{{'global.messages.required' | translate}}"
                                                data-parsley-maxlength-message="{{'global.messages.maxLength50' | translate}}"
                                                data-parsley-pattern="/^[a-zA-Z0-9]*$/"
                                                data-parsley-pattern-message="{{'global.messages.specialCharacter' | translate}}"
                                                data-parsley-whitespace="trim"
                                                data-parsley-trigger="change"
                                                id="areaCode"
                                                type="text"
                                                name="areaCode"
                                                class="md-input ng-isolate-scope md-input-processed" md-input="">
                                        <span class="md-input-bar "></span>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-5">
                                    <div class="custom-label">
                                        <label class="label-bold ng-scope">Mô tả</label>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <div class="parsley-row">
                                        <textarea ng-model="area.description"
                                                  data-parsley-whitespace="trim"
                                                  data-parsley-maxlength-message="{{'global.messages.maxLength255' | translate}}"
                                                  data-parsley-maxlength="255"
                                                  type="text" name="description" id="description"
                                                  style="border-width: 1px 1px 1px;"
                                                  class="md-input ng-isolate-scope md-input-processed" md-input="">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>